@import "nullstyle.scss";
@import "prepods.scss";
@import "variables.scss";
@import "stud.scss";
@import "disciplines.scss";

//===============================================
//ШРИФТЫ
//&display=swap&subset=cyrillic-ext
@import url(https://fonts.googleapis.com/css?family=Roboto:300,regular,500,700&display=swap&subset=cyrillic-ext);

//===============================================\


//===============================================
//ПЕРЕМЕННЫЕ

//===============================================


//===============================================
//ПАРАМЕТРЫ КОНТЕЙНЕРА
.container{
    max-width: $maxWidthContainer;
    margin: 0px auto;
    @media (max-width: $md1){
        max-width: 970px;
    }
    @media (max-width: $md2) {
        max-width: 750px;
    }
    @media (max-width: $md3) {
        max-width: 100%;
        padding: 0 10px;
    }
}
//==============================================


//==============================================
//HTML,BODY
body{
    height: 100%;
    font-family: 'Roboto';
    img{
        max-width: 100%;
    }
    
    &._lock{
        overflow: hidden;
    }
}

//=============================================
//WRAPPER
.wrapper{
    min-height: 100%;
    display: flex;
    flex-direction: column;
}

//==============================================
//HEADER

.header {
    z-index: 50;
    position: fixed;
    width: 100%;
    overflow: hidden;
    background: linear-gradient(269.91deg, rgb(57, 55, 161) 0%, rgb(170, 253, 250) 98.16%);
    box-shadow: 0px 1px 10px 1px #000;
    padding: 0px 50px 0px 50px;
    @media (max-width: $md4){
        padding: 0px 0px 0px 0px;
    }
}
.header__container {
    padding: 0px 60px 0px 60px;

    @media (max-width: $md3){
        padding: 0px 30px 0px 30px;
    }
    @media (max-width: $md4){
        padding: 0px 10px 0px 10px;
    }
}
.header__menu {
    height: 80px;
    display: flex;
    align-items: center;
    ._icon-phone{
        display: none;
    }
}
.menu__burger {
    display: none;
}
.menu__body {
    flex: 0 0 100%;
}
.menu__list {
    display: flex;
    justify-content: space-between;
    align-items: center;

    @media (max-width: $md3){
        height: 60px;
    }
}
.menu__link {
    font-size: 22px;
    line-height: 123%;
    display: flex;
    align-items: center;
    color: #030056;
    text-decoration: none;
    text-decoration: none;
    background-image: linear-gradient(currentColor, currentColor);
    background-position: 0% 100%;
    background-repeat: no-repeat;
    background-size: 0% 2px;
    transition: background-size .3s;
    &._icon-telegram{
        &::before{
            font-size: 48px;
            margin: 0px 7px 0px 0px;
            color: #000;

            @media (max-width: $md2){
                font-size: 36px;
            }
            @media (max-width: $md3){
                font-size: 48px;
                color: #258acd;
            }
            @media (max-width: $md4){
                font-size: 36px;
            }
        }
    }
    &:hover {
        background-size: 100% 2px;
    }

    @media (max-width: $md2){
        font-size: 18px;
    }
    @media (max-width: $md3){
        font-size: 14px;
    }
}

@media (max-width: $md3){
    .header__menu{
        display: flex;
        justify-content: space-between;
        ._icon-phone{
            display: block;
            color: #000122B2;
            font-size: 18px;
            &::before{
                font-size: 50px;
                margin: 0px 7px 0px 0px;
    
                @media (max-width: $md2){
                    font-size: 36px;
                }
                @media (max-width: $md3){
                    font-size: 22px;
                }
                @media (max-width: $md3){
                    font-size: 16px;
                }
            }    
            @media (max-width: $md4){
                font-size: 13px;
            }
        }
    }
    .menu__burger{
        z-index: 5;
        display: block;
        position: relative;
        width: 30px;
        height: 18px;
        cursor: pointer;
    }
    .menu__burger span,
    .menu__burger::before,
    .menu__burger::after{
        left: 0;
        position: absolute;
        height: 10%;
        width: 100%;
        transition: all 0.3s ease 0s;
        background-color: #fff;
    }
    .menu__burger::before,
    .menu__burger::after{
        content: '';
    }
    .menu__burger::before{
        top: 0;
    }
    .menu__burger::after{
        bottom: 0;
    }
    .menu__burger span{
        top: 50%;
        transform: scale(1) translate(0px, -50%);
    }
    .menu__body{
        position: fixed;
        top: 0;
        right: -100%;
        width: 80%;
        height: 100%;
        background-color: rgba(9, 7, 23, 0.9);
        transition: all 0.3s ease 0s;
        z-index: 4;
        padding: 200px 0px 50px 100px;
        overflow: auto;

        @media (max-width: $md4){
            padding: 180px 0px 50px 50px;
        }
    }
    .menu__body._active{
        right: 0;
    }
    .menu__burger._active span{
		transform: scale(0) translate(0px, -50%);
	}
	.menu__burger._active::before{
		top: 50%;
		transform: rotate(-45deg) translate(0px, -50%);
	}
	.menu__burger._active::after{
		bottom: 50%;
		transform: rotate(45deg) translate(0px, 50%);
	}
    .menu__list{
        flex-direction: column;
        align-items: start;
    }
    .menu__list li{
        margin: 0px 0px 70px 0px;

        @media (max-width: $md4){
            margin: 0px 0px 50px 0px;
        }
    }
    .menu__list li:last-child{
        margin-bottom: 0px;
    }
    .menu__link{
        font-size: 26px;
        color: #fff;

        @media (max-width: $md4){
            font-size: 18px;
        }
    }
}


//==============================================
//MAIN
.main {
    flex: 1 1 auto;
    padding: 120px 0px 0px 0px;
}

//======
//IIBRT
.iibrt {
    text-align: center;
    background: url(../img/mainPage/iibrt/iibrt_bg.png);
    background-repeat: no-repeat;
    background-position: 70% 20%;
    margin: 0px 0px 45px 0px;

    @media (max-width: $md3){
        background-size: 100%;
    }
}
.iibrt__container {
}
.iibrt__logo {
    display: block;
    max-width: 297px;
    margin: 0px auto 30px auto;

    @media (max-width: $md3){
        max-width: 150px;
    }
}
.iibrt__mainTitle {
    font-size: 42px;
    line-height: 120%;
    text-transform: uppercase;
    margin: 0px 0px 15px 0px;

    @media (max-width: $md3){
        font-size: 36px;
    }
}
.iibrt__subtitle {
    max-width: 620px;
    font-size: 26px;
    line-height: 120%;
    margin: 0px auto 15px auto;

    @media (max-width: $md3){
        font-size: 24px;
    }
}
.iibrt__text {
    font-size: 24px;
    line-height: 107%;
    color: #868484;

    @media (max-width: $md3){
        font-size: 22px;
    }
}
//========
//WORKING
.working {
    background: linear-gradient( rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6) ), url('../img/mainPage/working/working_bg3.png');
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    padding: 0px 0px 60px 0px;
    color: #fff;
}
.working__header {
    display: flex;
    height: 80px;
    align-items: center;
    margin: 0px 0px 50px 0px;

    @media (max-width: $md3){
        height: 60px;
        margin: 0px 0px 50px 0px;
    }
}
.working-header__text{
    margin: 0px auto;
    font-weight: 300;
    font-size: 40px;
    line-height: 120%;
    text-shadow: 3px 3px 10px #000;

    @media (max-width: $md3){
        font-size: 28px;
    }
    @media (max-width: $md4){
        font-size: 22px;
    }
}
.working__list{
    & li{
        margin: 0px 0px 20px 0px;
    }
}
.working__link{
    font-size: 18px;
    text-align: center;
    text-shadow: 3px 3px 10px #000;
    line-height: 120%;
    @media (max-width: $md4){
        font-size: 14px;
    }
}
.working__container {
}
.working__items {
    display: flex;
    justify-content: space-between;

    @media (max-width: $md3){
        flex-direction: column;
        align-items: center;
    }
}
.item{
    max-width: 383px;
    flex: 0 0 33.333%;
    border-radius: 10px;
    overflow: hidden;
    text-align: center;
    box-shadow: 0px 0px 40px rgba(184, 0, 95, 0.2);
    background-color: #fff;

    img{
        display: block;
        width: 100%;
        border-radius: 0px 10px 0px 0px;
        object-fit: cover;
    }

    @media (max-width: $md1){
        margin-left: 15px;
        flex: 32%;

        &:first-child{
            margin-left: 0px;
        }
    }
    @media (max-width: $md3){
        margin: 0px 0px 15px 0px;

        &:last-child{
            margin-bottom: 0px;
        }
    }   
}
.workikng__item {
}
.working-item__img {
    margin: 0px 0px 10px 0px;
}
.working-item__content{
    padding: 0px 36px 20px 36px;

    @media (max-width: $md2){
        padding: 0px 36px 20px 18px;
    }
}
.working-item__title {
    font-weight: 700;
    font-size: 32px;
    line-height: 120%;
    margin: 0px 0px 15px 0px;

    @media (max-width: $md2){
        font-size: 26px;
    }
}
.working-item__text {
    font-weight: 500;
    font-size: 21px;
    line-height: 25 / 21 * 100%;
    color: #767676;

    @media (max-width: $md2){
        font-size: 20px;
    }
}
//===========
//DISCIPLINES
.disciplines {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    height: 265px;
    padding: 40px 0px 40px 0px;

    @media (max-width: $md3){
        height: 200px;
        padding: 20px 0px 20px 0px;
    }
}
.disciolines__btn {
    display: block;
    margin: 0px auto;
    font-weight: 300;
    font-size: 24px;
    line-height: 107%;
    color: #000;
    background-color: #dde2ff;
    padding: 20px 30px;
    border-radius: 20px;
    transition: all 0.3s ease 0s;

    @media (min-width: $md3){
        &:hover{
            background-color: #c2c9ff;
        }
    }
    @media (max-width: $md3){
        font-size: 22px;
    }
    @media (max-width: $md4){
        font-size: 16px;
    }
}
.disciplines__list li{
    margin: 0px 0px 20px 0px;

    &:last-child{
        margin: 0px 0px 0px 0px;
    }
}
.disciplines__link {
    display: block;
    text-align: center;
    font-size: 16px;
    color: #1a4688;
    text-decoration: underline;

    @media (max-width: $md4){
        font-size: 14px;
    }
}
//======================================================
//FOOTER
.footer {
}
.footer__container {
}
.footer__items {
    display: flex;
    height: 165px;
    justify-content: space-between;
    align-items: center;

    @media (max-width: $md3){
        flex-direction: column;
        text-align: center;
        height: none;
        padding: 10px 0px 0px 0px;
    }
}
.footer__title{
    font-weight: 700;
    font-size: 14px;
    line-height: 14 / 16 * 100%;
    color: #000;
    text-transform: uppercase;

    @media (max-width: $md3){
        font-size: 13px;
    }
}
.footer__text{
    font-size: 16px;
    line-height: 133%;

    @media (max-width: $md3){
        font-size: 13px;
    }
}
.footer-telegram__title {
    display: flex;
    align-items: center;
    text-transform: none;

    &::before{
        font-size: 40px;
        margin: 0px 10px 0px 0px;
        @media (max-width: $md3){
            font-size: 22px;
        }
    }
}
.footer-contacts__title{
    margin: 0px 0px 20px 0px;

    @media (max-width: $md3){
        margin: 0px 0px 10px 0px;
    }
}
.footer-contacts__text {
    color: #000122B2;
}
.footer__about{
    max-width: 224px;
}
.footer-about__title{
    margin: 0px 0px 10px 0px;
}
.footer-about__text{
    color: #000;
}